* {
  box-sizing: border-box;
}

html{
  background: linear-gradient(to bottom, #45c4ff, #e3f6ff);
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -0.6px;
  word-spacing: 0.6px;
  color: #000000;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: lowercase;
}
  
body {
  margin: 0;
  padding: 0;
  overflow: auto;
}

/******************* HEADER / SEARCHBAR ************************/
  
header {
  background-color: #333;
  color: #fff;
  padding: 5px;
  text-align: left;
}
  
.logo {
  margin: 0;
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.search-bar {
  transform: translateX(-50%) translateY(-50%);
  top: 5%;
  position: absolute;
  left: 50%;
}

.search-bar input[type="text"] {
  padding: 15px;
  font-size: 16px;
  border: none; /* Supprimez la bordure par défaut */
  border-radius: 10px; /* Ajoutez un bord arrondi */
  transition: width 0.3s ease; /* Ajoutez une transition pour l'animation */
  width: 200px; /* Largeur initiale */
}

.search-bar input[type="text"]:focus {
  outline: none; /* Supprimez la mise en évidence lors du focus */
  width: 300px; /* Largeur augmentée lors du focus */
}

.search-bar button {
  padding: 10px 20px;
  float: right;
  margin-left: 4px;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 16px;
  border : none;
  color: #ffffff;
  text-decoration: none;
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}
/******************** Weather Info ***************************/

#weather-container-container{
  background-color: white;
  padding: 10px;
  border-radius: 25px;
  position: absolute;
  bottom: 0;
  transform: translateX(10%) translateY(-42.5%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/******************* MAIN / BOUTON J ************************/

main {
  max-width: 1800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
}

.forecast-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.forecast-bar button {
  padding: 10px 40px;
  float: left;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 15px;
  border : none;
  color: #ffffff;
  text-decoration: none;
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.forecast-bar button.active {
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: none;
}

.forecast-item {
  display: inline-block;
  margin-right: 10px;
}

/******************* MAP ************************/

.map-container{
  transform: translateX(-50%) translateY(0%);
  margin-top: 0.5%;
  position: absolute;
  left: 50%;
}

#map {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 500px;
  width: 700px;
  border-radius: 10px;
}

.custom-cursor {
  cursor: crosshair;
}

/******************* FOOTER ************************/

footer {
  position: absolute;
  background-color: #5f5f5f;
  padding: 10px 10px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  bottom: 0%;
  width: 100%;
}
